@{
    this.ViewData["Title"] = "My points";
}
<h1>@this.ViewData["Title"]</h1>
<h2>You have 0 points!</h2>
<br>
<p><strong><b>What are Points?</b></strong> Points are like online curency, you can use them for buying items in our shop.(<b>Point</b> are <b>NOT</b> real curency, you can <b>only</b> use them in this site!)</p>
<hr>
<p>
    <strong><b>How to get points?</b></strong> Fore every approved car post you make, you will get 1 point. >>>>TODO Add link here! for creating new CAR
</p>
<nav>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="AAAAA" asp-action="A">Go shoping</a>
</nav>
<hr>
<p>
    <strong>How to use my points?</strong> Check our <b>shop</b>, check the items there, if you want to buy some item and you have enough points click on <b>BUY</b>. If the button is disabled it means that you don't have enough points to buy this item!
</p>
<nav>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Shop" asp-action="All">Go shoping</a>
</nav>
