@model CarShop.Web.ViewModels.Contacts.ContactInputFormModel
@{
    this.ViewData["Title"] = "Contact us!";
}
@if (this.TempData["SuccsessfulQuestionCreate"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@this.TempData["SuccsessfulQuestionCreate"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container contact-form">
    <div class="row">
        <div class="col-md-6">
            <div class="contact-image">
                <img src="~/contactpigeon.jpg" alt="pigeonPicture" width="600" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact-image">
                <h3>If you have question, bother us with this form!</h3>
                <h4>Go on, our pigeon will deliver your message, eventualy... </h4>
                <hr>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"> First name</label>
                        <input asp-for="Name" class="form-control" placeholder="Your Name *" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Your Email *" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label asp-for="TelephoneNumber"></label>
                        <input asp-for="TelephoneNumber" class="form-control" placeholder="Your Phone Number *" />
                        <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label asp-for="Message"></label>
                        <textarea asp-for="Message" class="form-control" rows="3" placeholder="Your Message *"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btn btn-primary" value="Send Message" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>