@model CarShop.Web.ViewModels.Credits.CreditByIdViewModel
@{
    this.ViewData["Title"] = "Tax calculator";
}

<form class="col-md-6 offset-md-3" id="adder"  onsubmit="return add();">
    <h1>@ViewData["Title"]</h1>
    <hr>
    <h3>NEW! Now you can check your taxes!</h3>
    <p>Fill the form with the right information, then click on the "<strong>Calcolate Tax</strong>" button.</p>
    <p>If you want to calculate again, click on "Clear Tax Result" button.</p>
    <div class="form-control c" style="border:solid;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tax form</th>
                    <td>1.0v</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Horce Power</th>
                    <td> <input type="text" id='horcePower' placeholder="enter HP"></td>
                </tr>
                <tr>
                    <th>Age of car</th>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option value="2.3" id="ageOfCar">Less than 5 years</option>
                            <option value="1.5" id="ageOfCar">5 to 10 years</option>
                            <option value="1.3" id="ageOfCar">10 to 15 years</option>
                            <option value="1.0" id="ageOfCar">15 to 20 years</option>
                            <option value="1.1" id="ageOfCar">More than 20 years</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>ECO category</th>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1" id="euroOfCar">Euro 1</option>
                            <option value="2" id="euroOfCar">Euro 2</option>
                            <option value="3" id="euroOfCar">Euro 3</option>
                            <option value="4" id="euroOfCar">Euro 4</option>
                            <option value="5" id="euroOfCar">Euro 5</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <button class="btn btn-primary" id="calc" type="button">Calculate Tax</button> | 
    <input type="text" name="num3" id="result" readonly placeholder="Tax Result"> <span> | BGN</span>
    <hr>
    <button class="btn btn-danger" type="button" id="btn">Clear Tax Result</button>
</form>
<script>
    const btn = document.getElementById('btn');
    const calc = document.getElementById('calc');

    function add() {
        const num1 = parseInt(document.getElementById('horcePower').value);
        const num2 = parseInt(document.getElementById('ageOfCar').value);
        const num3 = parseInt(document.getElementById('euroOfCar').value);
        const result = document.getElementById('result');
        if (num1 && num2 && num3 !== NaN) {
            let sum = num1 * num2 * num3;
            result.value = sum;
            return false;

        } else {
            alert("Enter Valid Number");
        }
    }
    calc.addEventListener('click', () => {
        add();
    });
    btn.addEventListener('click', () => {
        num1.value = " ";
        num2.value = " ";
        num3.value = " ";
        result.value = " ";
    });
</script>

