﻿@model CarShop.Web.ViewModels.Cars.CarListViewModel
@{
    this.ViewData["Title"] = "Searched cars";
}
@if (Model.Cars.Count() == 0)
{
    <h1 style="text-align:center"><span style='font-size:100px;'>OHH &#128169;</span></h1>
    <h2 style="text-align:center">Unfortunatly, we can't find cars with your criterias.. Try again</h2>
    <p style="text-align:center"><a asp-controller="Search" asp-action="Index" class="btn btn-primary btn-lg">Search &#128270</a> </p>
}  
else
{
    <h1>List of the cars of your search criterias &#128270; </h1>
    <hr />
        <div class="row">
        @foreach (var car in Model.Cars)
        {
            <div class="card col-md-4" style="width: 18rem;">
                <img src="@car.ImageUrl" class="card-img-top" style="padding-top:10px" alt="Car picture: @car.MarkName">
                <div class="card-body">
                    <h5 class="card-title"><strong>@car.MarkName</strong></h5>
                    <span><strong>@car.Price BGN</strong></span>
                    <span>@car.RegionName</span>
                    <span>@car.Milage Km</span>
                    <hr>
                    <p class="card-text">@car.Description.Substring(0, 85)...</p>
                    <a asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id" class="btn btn-primary">Show more</a>
                </div>
            </div>
        }
    </div>
    <p style="text-align:center"><a asp-controller="Search" asp-action="Index" class="btn btn-primary btn-lg">Search &#128270</a> </p>
    <hr />
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item @if (!Model.HasPreviousPage) {
        <text>disabled</text>
 }">
                <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
                }
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only"></span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
            {
                if (i <= Model.PageCount)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
                }
            }
            <li class="page-item @if (!Model.HasNextPage) {
        <text>disabled</text>
 }">
                <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
            </li>
        </ul>
    </nav>
}
