@{
    this.ViewData["Title"] = "Developer";
}
<h1 style="text-align:center">Developer of this site: Stefan Ivanov</h1>
<hr>
<h3 style="text-align:center">Info</h3>
<div class="row" style="justify-content:center">
    <div class="col-md-3">
        <img src="~/hungry.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-5">
        <div class="card-body">
            <h5 class="card-title">About this amazing person:</h5>
            <p class="card-text">First name:  <strong>Stefan</strong> | Last name: <strong>Ivanov</strong> | Age: <strong>27</strong> | Sex: <strong>M</strong></p>
            <p class="card-text">Nationality: <strong>Bulgarian</strong> | City: <strong>Sofia</strong> | Job: <strong>Entrepreneur (unemployed)</strong> | Hobbys: <strong>Codding, selling stuff, art, construction</strong></p>
            
        </div>
    </div>
</div>
<!-- Table with skills-->
<hr>
<h3 style="text-align:center">Skills</h3>
<div class="row" style="justify-content:center">
    <!-- Frontend skills -->
    <ul class="list-group col-md-4" style="text-align:center">
        <li class="list-group-item active" aria-current="true"><strong>Frontend:</strong></li>
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">Javacsript</li>
    </ul>
    <!-- Backend skills -->
    <ul class="list-group col-md-4" style="text-align:center">
        <li class="list-group-item active" aria-current="true"><strong>Backend:</strong></li>
        <li class="list-group-item">C#</li>
        <li class="list-group-item">MSSQL</li>
        <li class="list-group-item">ASP.NET core</li>
        <li class="list-group-item">MVC</li>
    </ul>
</div>
<!-- Contacts -->
<hr>
<h3 style="text-align:center">Contacts</h3>
<div class="row" style="justify-content:center">
    <ul class="list-group col-md-8" style="text-align:center">
        <li class="list-group-item active" aria-current="true"><strong>Contacts of developer:</strong></li>
        <li class="list-group-item"><span style='font-size:20px;'>&#128231;</span><strong>Email: <a href="mailto:stefanivanovc@gmail.com">stefanivanovc@gmail.com</a></strong></li>
        <li class="list-group-item"><img src="~/GitlabLogo48.png" alt="Facebook icon" width="26" height="26"><strong>Gitlab: <a href="https://gitlab.com/stefanivanovc" target="_blank"> Click here</a></strong><span> - Commits for this site</span></li>
        <li class="list-group-item"><img src="~/GithubLogo30.png" alt="Facebook icon" width="26" height="26"><strong>Github: <a href="https://github.com/StefanIvanovC" target="_blank"> Click here</a></strong></li>
        <li class="list-group-item"><img src="~/LinkedInLogo48.png" alt="Facebook icon" width="26" height="26"> <strong>LikedIn: <a href="https://www.linkedin.com/in/stefan-ivanov-13a6a41aa" target="_blank"> Click here</a></strong></li>
        <li class="list-group-item"><img src="~/FacebookLogo40x40.png" alt="Facebook icon" width="26" height="26"> <strong>Facebook: <a href="https://www.facebook.com/profile.php?id=100088539784071" target="_blank"> Click here</a></strong></li>
    </ul>
</div>
<hr>