@using CarShop.Common
@model CarShop.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have @Model.CarCount cars!</p>
    <p>We have @Model.MarkCount marks!</p>
</div>

<li class="btn btn-info">
    <a class="nav-link text-dark" asp-area="" asp-controller="Tax" asp-action="Calculator">Tax calculator</a>
</li>